<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="select.system.dao.AccountMapper">
    <resultMap id="AccountMap" type="select.system.dto.Account">
        <id property="accountNumber" column="accountNumber"/>
        <result property="bsbNumber" column="bsbNumber"/>
        <result property="amount" column="amount"/>
        <!-- Add other fields here -->
    </resultMap>

    <select id="selectByAccountNumber" resultType="Account">
        SELECT *
        FROM Account
        WHERE accountNumber = #{accountNumber}
    </select>

     <select id="selectByUserID" resultType="Account">
        SELECT *
        FROM Account
        WHERE userID = #{userID}
    </select>

    <select id="selectAll" resultType="Account">
        SELECT *
        FROM Account
    </select>

    <insert id="insertOne" parameterType="java.lang.Integer">
        INSERT INTO Account (userID)
        VALUES (#{userID})
    </insert>

    <!-- Include the other SQL statements as needed -->
</mapper>
