<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="select.system.dao.MyTransactionMapper">
    <resultMap id="MyTransactionMap" type="select.system.dto.MyTransaction">
        <id property="id" column="id"/>
        <result property="sender_accountNumber" column="sender_accountNumber"/>
        <result property="receiver_accountNumber" column="receiver_accountNumber"/>
        <result property="reason" column="reason"/>
        <result property="amount" column="amount"/>
        <result property="transDate" column="transDate"/>
        <result property="referenceNumber" column="referenceNumber"/>
    </resultMap>

    <select id="selectById" resultMap="MyTransactionMap">
        SELECT *
        FROM MyTransaction
        WHERE id = #{id}
    </select>

    <select id="selectByAccountNumber" resultMap="MyTransactionMap">
        SELECT *
        FROM MyTransaction
        WHERE receiver_accountNumber = #{accountNumber}
        OR
        sender_accountNumber = #{accountNumber}
    </select>

    <insert id="insertOne" parameterType="select.system.dto.MyTransaction">
        INSERT INTO MyTransaction (sender_accountNumber, receiver_accountNumber, reason, amount, transDate, referenceNumber)
        VALUES (#{sender_accountNumber}, #{receiver_accountNumber}, #{reason}, #{amount}, #{transDate}, #{referenceNumber})
    </insert>

    <insert id="insertOneBill" parameterType="select.system.dto.MyTransaction">
        INSERT INTO MyTransaction (sender_accountNumber, amount, transDate, referenceNumber)
        VALUES (#{sender_accountNumber},  #{amount}, #{transDate}, #{referenceNumber})
    </insert>

    <!-- Define other SQL statements for MyTransaction as needed -->
</mapper>
