<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="select.system.dao.UserMapper">
    <resultMap id="UserMap" type="select.system.dto.User">
        <id property="userId" column="userId"/>
        <result property="firstName" column="firstName"/>
        <result property="lastName" column="lastName"/>
        <result property="middleName" column="middleName"/>
        <result property="dateOfBirth" column="dateOfBirth"/>
        <result property="email" column="email"/>
        <result property="userPassword" column="userPassword"/>
        <result property="payId" column="payId"/>
        <result property="mobileNumber" column="mobileNumber"/>
        <!-- Add other fields here -->
    </resultMap>

    <select id="selectById" resultType="User">
        SELECT *
        FROM sys_user
        WHERE userId = #{userId}
    </select>

<select id="selectByPayID" resultType="User">
        SELECT *
        FROM sys_user
        WHERE payId = #{payId}
    </select>

    <select id="selectByEmail" resultType="User">
        SELECT *
        FROM sys_user
        WHERE email = #{email}
    </select>

    <select id="selectAll" resultType="User">
        SELECT *
        FROM sys_user
    </select>

    <insert id="insertOne" parameterType="select.system.dto.User">
        INSERT INTO sys_user (firstName, lastName, middleName, dateOfBirth, email, userPassword, payId, mobileNumber)
        VALUES (#{firstName}, #{lastName}, #{middleName}, #{dateOfBirth}, #{email}, #{userPassword}, #{payId}, #{mobileNumber})
    </insert>
    <!-- Include the other SQL statements as needed -->
</mapper>












