<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="select.system.dao.UserMessageMapper">

    <resultMap id="UserMessageMap" type="select.system.dto.UserMessage">
        <id property="messageID" column="messageID" />
        <result property="userID" column="userID" />
        <result property="userMessage" column="userMessage" />
        <result property="answer" column="answer" />
    </resultMap>

    <select id="getAllMessages" resultMap="UserMessageMap">
        SELECT *
        FROM user_messages
        WHERE userID = #{userID}
    </select>

     <insert id="insertMessage" parameterType="select.system.dto.UserMessage">
        INSERT INTO user_messages (userID, userMessage, answer)
        VALUES (#{userID}, #{userMessage}, #{answer});
    </insert>

    <!-- Add other SQL statements as needed -->
</mapper>
